body{
  background-color: #056c48;
    text-align: center;
}

.btn{
  margin: 1%;
}

footer{
  bottom: 0%;
  position: absolute;
  color: white;
  background-color:black;
  width: 100%;
  padding: 5px;
}